#body {
  margin-top: 75px;
}
h1 {
  font-size: 60pt;
  letter-spacing: -5px;
  color: lightblue;
  position: absolute;
  top: -70px;
  right: 0;
}
p {
  font-size: 18px;
}

.red {
  color: white;
  background-color: red;
}
